
.main-wrapper {
  overflow: hidden;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  width: 100vw;
}
.main-space-wrapper {
  display: flex;
  max-height: var(--wrapper-height);
  overflow-x: hidden;
  overflow-y: auto;
}
.main-space {
  /*overflow: auto;*/
  flex-basis: 60%;
  flex-grow: 1;
  flex-shrink: 1;
}